// device-size
$pc_size: '(min-width: 1025px)';
$tb_size: '(min-width: 501px) and (max-width: 1024px)';
$sp_size: '(max-width: 500px)';
$more_than_tb: '(min-width: 501px)';
$less_than_tb: '(max-width: 1024px)';

